.main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.main .first-content,
.main .second-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.main .first-content {
  background: #cc0000;
}

.main .second-content {
  background: #ccc;
}

.main .question-header,
.main .food-map-header {
  align-self: center;
  position: relative;
  z-index: 5;
  overflow: hidden;
}

.main .question-header a,
.main .food-map-header a {
  text-decoration: none;
  color: #fff;
}

.question-header,
.food-map-header {
  font-family: Roboto;
  font-size: 36px;
  color: #FFFFFF;
  line-height: 42px;
}

.main .question-footer,
.main .food-map-footer {
  align-self: center;
  position: relative;
  z-index: 5;
  color: #fff;
  line-height: 22px;
  font-family: Roboto-Regular;
  font-size: 16px;
  line-height: 22px;
}

.main .first-content .img-control,
.main .second-content .img-control {
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: 2;
}

.main .first-content .img-control {
  top: 0;
  left: 0;
  right: 0;
}

.main .second-content .img-control {
  bottom: 0;
  left: 0;
  right: 0;
}

.firstOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, .5);
  z-index: 3;
  background: #000000;
  opacity: 0.54;
}
.secondOverlay {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, .5);
  z-index: 3;
  background: #000000;
  opacity: 0.54;
}