<h1>{{title}}</h1>
<p>Welcome to the {{title}} Page, You are xxx the admin from {{name}} </p>
<form action="add" method="post">
    name
    <br/>
    <input name="name" type="text">
    <br/> description
    <br/>
    <textarea name="description"></textarea>
    <br/>
    <button type="submit">add</button>
</form>
<a href="/admin/places">
        <button class="bg-info"> Display the Places</button>
    </a>