<h1> {{title }}</h1>
<p>Welcome to the {{ title }} Page, You are xxx the admin from {{ name }} </p>
<form action="add" method="post">
    <div class="form-group text-success">
        <label>Name</label>
        <input class="form-control" name="name" type="text">
    </div>
    <div class="form-group">
        <label class="text-success mt-2"> Categories:</label>
        <select name="category" class="form-control mb-4 text-success">
            <option value="null" selected>Choose a Category</option>
            <option value="Growing Project">Growing Project</option>
            <option value="Night Out">Night Out</option>
            <option value="Shopping">Shopping</option>
            <option value="Eating Out">Eating Out</option>
        </select>
    </div>
    <div class="form-group">
        <label class="text-success mt-2"> Status:</label>
        <select name="status" class="form-control mb-4 text-success">
            <option value="null" selected>Choose a Status</option>
            <option value="Approved">Approved</option>
            <option value="Rejected">Rejected</option>
            <option value="Pending">Pending</option>
        </select>
    </div>
    <div class="form-group text-success">
        <label>Description</label>
        <textarea class="form-control" name="description"></textarea>
    </div>
    <button type="submit" class="btn btn-info">add</button>
</form>
</br>
<a href="/admin/places">
    <button class="btn btn-info"> Display the Places</button>
</a>